/**
 * Basic typography style for copy text
 */
 body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  font-size: 62.5%; // for use of rem
}

// H1 for hero heading
h1 {
  font-size: 2.6rem;
  line-height: 2.85rem;
  letter-spacing: 2px;

  @include mq(650px){
    font-size: 73px; font-size: 7.3rem;
    letter-spacing: 5.83px;
    line-height: 87px;
  }
}

// h1 span in hero heading
h1 span.small {
  font-size: 1rem;

  @include mq(650px){
    font-size: 16px; font-size: 1.6rem;
    letter-spacing: 1.78px;
    line-height: 27px;
  }
}

// section title ie: about me etc
h2 {
  font-size: 12px; font-size: 1.2rem;
  letter-spacing: 1.65px;
  line-height: 22px;

  @include mq(650px){
    font-size: 24px; font-size: 2.4rem;
    letter-spacing: 2.67px;
    line-height: 27px;
  }
}

// sub section titles ie: UI design within services
h3 {
  font-size: 16px; font-size: 1.6rem;
  letter-spacing: 1.78px;
  line-height: 27px;
}

p {
  color: $white;
  font-family: $text-font-stack; 
  font-size: 12px;
  letter-spacing: 1.56px;
  line-height: 26px;
  font-weight: light;
}

