// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

header#main {
    height: 100vh;
    @include sectionBorder;

    h1 {
        display: flex;
        flex-wrap: wrap;
        align-content: end;
        height: calc(90vh - 60px);
        margin: 0;

        .small {
            display: block;
            margin-top: 40px;
            font-size: 1rem;
            line-height: 1.4rem;
        } //small
    } // h1
} //header#main

#about {
    @include sectionBorder;

    h2 {
        &::before {
            display: none;
        } //before
        @include mq(800px){ 
            @include largeText('ABOUT ME');
        }
    } //h2

    img {
        width: 100%;
        margin: 30px auto;
    }
} // section #about



#services {
    @include sectionBorder;
    
    h2 {
        &::before {
            display: none;
        } //before
        @include mq(800px){ 
            @include largeText('SERVICES');
        }
    } //h2
} // section #services