// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav {
    .menuToggle {
        cursor: pointer;
    }

    ul.navItems {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 90%;
        height: 100%;
        background: $dark-grey;
        box-shadow: -10px 0px 15px darken($dark-grey, 15%); 
        right: -110%;
        overflow-x: hidden;
        transition: ease all 0.3s;
        margin-top: 0px;

        &.open {
            right: 0;
        } // .open

        li {
            list-style: none;
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 25px;
            transition: ease all 0.4s;

            &:first-of-type {
                margin-top: 45px;
            } // :first nav item

            &:hover {
                padding-left: 20px;
            } //li:hover
        } //li

        span.close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 1.4rem;
            font-weight: bold;
            cursor: pointer;
        }
    } // .navitems
}