{% include('./sections/header.twig') %}

<div id="page404">
    <h1>Page Not Found</h1>
    <p>Opps it looks like the page you were looking for could not be found. Why not check out the homepage? I'm sure there will be something you're looking for there.<p>
    <a href="{{ROOT}}">Homepage</a>
</div>

{% include('./sections/footer.twig') %}